body {
  font-family: Open Sans;
  margin: 0;
  overflow: hidden;
}
.d-none{
  display: none!important;
}
.contentContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.addTask {
  width: 488px;
  padding: 64px 24px 0px 24px;
  gap: 24px;
  display: flex;
  overflow-y: scroll;
  height: calc(100vh - 240px);
}
.addTask::-webkit-scrollbar{
  width: 12px;
    background-color: #F5F5F5;
}
.addTask::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}
.addTask::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #A8A8A8;
}
.topSektion {
  gap: 12px;
  width: 440px;
  
  display: flex;
  flex-direction: column;
}
.titletitleContainer {
  display: flex;
  gap: 4px;
  width: 440px;
  height: 84px;
}
.inputFieldTitle {
  color: rgba(209, 209, 209, 1);
  width: 440px;
  height: 64px;
  border: 0px;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
  padding: 0px 0px 0px 0px;
  gap: 10px;
  display: flex;
  font-weight: 400;
  font-size: 32px;
}
.inputFieldTitle::placeholder{
  padding: 16px;
}
.description {
  height: 154px;
  width: 440px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}
.descriptionContent {
  display: flex;
  height: 23px;
  gap: 5px;
}
.descriptionText {
  font-size: 19px;
  font-weight: 700;
  color: rgba(66, 82, 110, 1);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.textArea {
  border: 1px solid;
  color: rgba(209, 209, 209, 1);
  border-radius: 0px 10px 10px 10px;
  padding: 18px;
  font-size: 19px;
  font-family: "Open Sans";
  resize: calc();
}
.small {
  font-weight: 400 !important;
}
.inputFieldTitle:focus {
  outline: none;
}
.textArea:focus {
  outline: none;
}
.dateContent {
  display: flex;
  flex-direction: column;
  height: 99px;
  padding-top: 8px;
}
.dateTitle {
  font-size: 19px;
  font-weight: 700;
  color: rgba(66, 82, 110, 1);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.inputfieldDateContainer {
  height: 48px;
  border-bottom: 1px solid;
  color: rgba(209, 209, 209, 1);
  margin-inline-start: 0px;
  gap: 4px;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 0px 16px;
  align-items: center;
}
.inputfieldDate {
  border: 0;
  font-size: 19px;
  font-weight: 400;
}
.inputfieldDate:focus {
  outline: none;
}
.dateImg {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.assignedContent {
  display: flex;
  flex-direction: column;
  height: 79px;
  padding-top: 24px!important;
}
.assignedTitleContainer {
  display: flex;
  height: 23px;
  gap: 5px;
}
.buttonContainer{
  display: flex;
  gap: 16px;
  padding-top: 8px;
}

.prioButton{
  gap: 10px;
  display: flex;
  width: 136px;
  height: 51px;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-family: "Open Sans";
  font-weight: 400;
  cursor: pointer;
    background: white;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}
.buttonImg{
  width: 20px;
  height: 20px;
}
.assignedTitle {
  font-size: 19px;
  font-weight: 700;
  color: rgba(66, 82, 110, 1);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.assignedSelect {
  display: flex;
  padding-left:16px;
  border: 0;
  margin-top: 16px;
  font-size: 19px;
  font-family: "Open Sans";
  appearance: none;
  background: url("/assets/img/arrow_drop_down.svg") 97% / 5% no-repeat #ffff;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
  line-height: 39px;
}

.assignedSelect:focus {
  outline: none;
}
.assignedImg {
  width: 26px;
  height: 26px;
  margin-top: 16px;
}
.SubtaskContent{
  display: flex;
  flex-direction: column;
  height: 79px;
  padding-top: 24px!important;
}
.subtaskInput{
  display: flex;
  padding-left:16px;
  border: 0;
  margin-top: 16px;
  font-size: 19px;
  font-family: "Open Sans";
  appearance: none;
  background: url("/assets/img/subtask_icons.svg") 97% / 5% no-repeat #ffff;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
  line-height: 39px;
}
.subtaskInput:focus {
  outline: none;
}
.textfield-fail{
  color: red;
  font-size: 12px;
  padding-left: 12px;
}
.selectContainer{
  display: flex;
  flex-direction: column;
  background: aliceblue;
  height: 72px;
  overflow: auto;
  width: auto;
}
.selectOverContainer{
  display: flex;
}
