body {
font-family:Open Sans;
}
.addTask {
    width: 488px;
    height: 928px;
    padding: 64px 24px 0px 24px;
    gap: 24px;
    display: flex;
}
.topSektion{
    gap: 12px;
    width: 440px;
    height: 361px;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    gap: 4px;
    width: 440px;
    height: 84px;
}
.inputField{
    color: rgba(209, 209, 209, 1);
    width: 440px;
    height: 64px;
    border: 0px;
    border-bottom: 1px solid rgba(209, 209, 209, 1);
    padding: 13px 16px 0px 16px;
    gap: 10px;
    display: flex;
    font-weight: 400;
    font-size: 32px;
    
    
}
.description{
   height: 154px;
   width: 440px; 
   gap: 8px;
   display: flex;
   flex-direction: column;
}
.descriptionContent{
    display: flex;
    gap: 4px;
}
.descriptionText{
    font-size: 19px;
    font-weight: 700;
    color: rgba(66, 82, 110, 1);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.textArea{
    border: 1px solid;
    color: rgba(209, 209, 209, 1);
    border-radius: 0px 10px 10px 10px;
    padding: 18px;
    font-size: 19px;
    font-family: 'Open Sans';
}