.boardTopSektion{
    display: flex;
    padding: 72px 0px 16px 0px;
    gap: 48px;
    flex-direction: column;
}
.inputSektion{
    display: flex;
    gap: 35px;
    padding: 0px 64px 0px 64px;
    /*padding-left: 64px; Clarify with team */ 
}
.inputfieldIconsContainer{
    display: flex;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    
    gap: 10px;
   border: 1px solid #A8A8A8


}
.buttonIconContainer{
    display: flex;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    border: 1px;
    gap: 10px;
    background: #4589FF;
    border: 1px solid #4589FF;



}
.boardInputfield{
    border: 0px;
   
}
.boardButton{
    background: #4589FF;
    border: 0;
    color: white;
    
}

.boardCategorysSektion{
    display: flex;
   justify-content: space-between;
   padding: 0px 64px 0px 64px;
  
}
.boardBotSektion{
    display: flex;
    justify-content: space-between;
    padding: 0px 64px 0px 64px;
    gap: 24px;

}
.boardtoDoSektion{
    width: 252px;
    gap: 24px;
}
.boardProgressSektion{
    width: 252px;
    gap: 16px;
}
.boardFeedbackSektion{
    width: 252px;
    gap: 16px;
}
.boardDoneSektion{
    width: 252px;
    gap: 16px;
}  
