body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.dislayRowBody{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.d-none{
    display: none;
}

.displayFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.allContacts{
    display: flex;
}

.boxOfAllContacts{
    width: 456px;
    height: calc(100vh - 96px);
    border:  1px ;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 0px 8px 0px;
    overflow:scroll;
    overflow-x:hidden;
}

.boxOfAllContacts::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.boxOfAllContacts::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}

.boxOfAllContacts::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #A8A8A8;
}

.positionBtnAddContact{
    display: flex;
    justify-content: center;
}

.btnAddContact{
    margin: 40px;
    width: 357px;
    height: 56px;
    background-color: #4589FF;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAddContact:hover{
    background-color: #2776ff;
}

.lettersInBtn{
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-right: 8px;
}

.positionLetterContact{
    display: flex !important;
    justify-content: flex-start !important;
    margin-right: 266px;
}

.letterContact{
    font-size: 24px;
}

.positionLineContact{
    display: flex ;
    justify-content: flex-start ;
}

.lineContact{
    width: 362px;
    height: 1px;
    background-color: gray;
    margin-top: 0;
}

.positionNewContact{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.sizeOfContactBox{
    width: 384px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.sizeOfContactBox:hover{
    background-color: #D2E3FF;
    border-radius: 10px;
}

.imgOfContackt{
    color: white;
}
#renderFirstLetter{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #176cff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleMail{
    margin: 6px;
    color: #73A6FF;
    font-size: small;
}

.boxOfDetailsContacts{
    width: auto;
    height: 318px;
    margin: 64px;
}

.bigImgContacts{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 56px;
    background-color: #647188;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeOfLetterDetails{
    color: white;
    display: flex;
    font-size: 59px;
    justify-content: center;
    align-items: center;
}

.positionHeaderContactDetails{
    display: flex;
    align-items: center;
}

.nameHeaderContactDetails{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.positionEditAndDelete{
    display: flex;
    justify-content: flex-start;
}

.clearBtn{
    cursor: pointer;
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

.clearBtn:hover{
    color: #176cff;
    font-weight: bolder;
}

.contantInformation{
    font-size: 24px;
    font-weight: 600;
}

.mailContact{
    text-decoration: none;
    color: #2776ff;
}


.boxOfAddingNewContact{
    height: 100vh;
    width: 548px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
}

.blueBoxAddContact{
    height: 35%;
    background-color: #176cff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 30px;
    box-shadow: inset rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.imgBlueBox{
    width: 64px;
    height: 72px;
    object-fit: contain;
}

.h1AddContact{
    font-size: 44px;
    margin: 0;
    margin-top: 16px;
}

.pAddContact{
    font-size: 24px;
    font-weight: 100;
    margin-top: 8px;
}

.closeAddContactBox{
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;
}

.closeAddContactBox:hover{
    background-color: #4589FF;
    border-radius: 50%;
}

.witheBoxAddContact{
    z-index: 1;
    height: 65%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsOFAddContact{
    width: 422px;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.witheBoxAddContactImg{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.inputField{
    width: 320px;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid rgba(209, 209, 209, 1);
    padding: 13px 16px 0px 16px;
    gap: 10px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    outline: none;
}

.imgInInput{
    margin-left: -40px;
    
}

.btnsAddContact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    gap: 35px;
    
}

.samllIconsContactX{
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-left: 8px;
}

.samllIconsContactOK{
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-left: 8px;
}

.btnCloseContact{
    padding: 12px;
    border: 0;
    border-radius: 5px;
    color: #647188;
    border: 1px #647188;
    font-size: 16px;
    cursor: pointer;
}

.btnCloseContact:hover{
    outline: 0.5px solid #2776ff;
    color: #2776ff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.btnCreateContact{
    padding: 12px;
    background-color: #4589FF;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btnCreateContact:hover{
    background-color: #176cff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.boxOfEdingContact{
    height: 100vh;
    width: 548px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.blueBoxEditContact{
    height: 35%;
    background-color: #176cff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    box-shadow: inset rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.h1EditContact{
    font-size: 44px;
    margin: 0;
    margin-top: 16px;
}

.closeEditContactBox{
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;
}

.closeEditContactBox:hover{
    background-color: #4589FF;
    border-radius: 50%;
}

.backgoundBox{
    width: 100vw;
    height: 100vh;
    background-color: rgba(219, 219, 219, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
  }
  
  #successMessage {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(69, 137, 255, 1);
    color: white;
    text-align: center;
    border-radius: 20px;
    animation: slideUp 0.3s ease-in forwards;
    font-size: 23px;
    height: 74px;
    width: 326px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  @keyframes slideUp {
    from {
      top: 100vh;
    }
    to {
      top: 45vh;
    }
  } */