.headerBlue{
    height: 96px;
    width: 100vw;
    background-color: #4589FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    margin: 16px 16px 16px 39px;
}

.helpImg{
    margin-left: 16px;
    cursor: pointer;
}

.profile-div{
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color: white;
    margin: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-div div {
    width: 46px;
    height: 46px;
    border: 2px solid rgba(69, 137, 255, 1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-div span {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    color: rgba(69, 137, 255, 1);
}

.positionRightHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 23px;
}
