body {
  font-family: "Open Sans", sans-serif !important;
  min-height: 100vh !important;
}

/* .logo {
  position: absolute;
  z-index: 999;
  top: 80px;
  left: 77px;
}

.logo img {
  width: 100.03px;
  height: 121.97px;
} */

.login-header {
  position: absolute;
  z-index: 999;
  top: 67px;
  right: 77px;
}

.mg-l {
  margin-left: 35px;
}

.login-content {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card-div {
  /* height: 491px !important; */
  width: 652px !important;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px !important;
  margin: 0px 20px;
  padding: 48px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  width: 422px;
  min-width: 250px;
}

.login-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card-title h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 12px;
}

#arrow-left {
  position: absolute;
  top: 80px;
  left: 80px;
  height: 45px;
  width: 45px;
}

#arrow-left:hover {
  background-color: rgba(200, 222, 255, 0.226);
  border-radius: 50px;
  cursor: pointer;
}

.login-card-title svg {
    margin-bottom: 39px;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.form-div input {
    width: 100%;
    border-bottom: 2px solid rgba(209, 209, 209, 1) !important;
    border-radius: 0;
    border: none;
    box-shadow: none !important;
}

.form-div input::placeholder {
    color: rgba(209, 209, 209, 1);
}

.form-style {
  width: 100%;
  display: flex;
  align-items: center;
}

.form-style img {
  margin-left: -30px;
  height: 24px;
  width: 24px;
}

.mg-40 {
    margin-top: 40px !important;
}

.login-button-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 0px !important;
}

.btn2:hover {
    background-color: white !important;
    color: rgb(13,110,253) !important;
    border: 1px solid rgb(13,110,253) !important;
}

.login-button-div button {
    display: flex;
    padding: 10px 35px 10px 35px;
    font-size: 23px;
    margin-bottom: 0px !important;
}

.login-footer {
  display: flex;
  justify-content: center;
  height: 35px;
  gap: 20px;
}

.login-footer a {
    text-decoration: none;
    color: rgba(66, 82, 110, 1);
    font-size: 16px;
}

.login-footer a:hover {
    color: rgb(13,110,253);
}

#pw-fail,
#email-fail,
#login-fail {
  color: red;
  width: 100%;
  margin-top: -30px;
  font-size: 12px;
}

.bg-color {
  background-color: rgb(69,137,255) !important;
}

.w-color {
  color: white !important;
}

.d-none {
  display: none;
}

.d-none-js {
  display: none !important;
}

.red-bg {
  background-color: rgba(255, 104, 104, 0.171) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.b-color {
  border: 2px solid rgb(13,110,253) !important;
  cursor: pointer;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: rgb(69, 137, 255);
  /* overflow: hidden; */
  animation: bodyBackgroundAnimation 1.5s ease-in forwards;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 265px;
  height: 323px;
  animation: logoAnimation 0.5s ease-in forwards 1s;
  background: url('../assets/img/join-big.svg') no-repeat center top, url('../assets/img/join_logo.svg') no-repeat center top;
  background-size: contain;
  z-index: 999;
}

@keyframes bodyBackgroundAnimation {
  0% {
    background: rgb(69, 137, 255);
  }
  50% {
    background: rgb(69, 137, 255);
  }
  100% {
    background: #ffffff;
  }
}

@keyframes logoAnimation {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 265px;
    height: 323px;
    background-position: 0 0, 0 0;
    background-image: url('../assets/img/join-big.svg');
  }
  100% {
    top: 132px;
    left: 120px;
    width: 100px;
    height: 121px;
    background-position: 0 0, 0 0;
    background-image: url('../assets/img/join_logo.svg');
  }
}

.bgimg1 {
  background-image: url('../assets/img/join-white.svg') !important;
  z-index: 9999;
}

.bgimg2 {
  background-image: url('../assets/img/join_logo.svg') !important;
  z-index: 9999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

#successMessage {
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(69, 137, 255, 1);
  color: white;
  text-align: center;
  border-radius: 20px;
  animation: slideUp 0.3s ease-in forwards;
  font-size: 23px;
  height: 74px;
  width: 326px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes slideUp {
  from {
    top: 100vh;
  }
  to {
    top: 45vh;
  }
}

.login-header2 {
  display: none;
}

.signup-button {
  height: 48px;
  width: 112px;
}

@media (max-width: 685px) {
  .login-content {
    min-height: 95vh;
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 10px 0 10px !important;
  }

  .login-header2 {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .login-card-div {
    width: 96vw !important;
    
  }

  .signup-button2 {
    height: 48px;
    width: 112px;
  }

  .loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 120px;
    animation: logoAnimation 0.5s ease-in forwards 1s;
    background: url('../assets/img/join-big.svg') no-repeat center top, url('../assets/img/join_logo.svg') no-repeat center top;
    background-size: contain;
    z-index: 999;
  }

  @keyframes logoAnimation {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 120px;
      background-position: 0 0, 0 0;
      background-image: url('../assets/img/join-big.svg');
    }
    100% {
      top: 74px;
      left: 76px;
      width: 64px;
      height: 78px;
      background-position: 0 0, 0 0;
      background-image: url('../assets/img/join_logo.svg');
    }
  }

  /* .logo {
    width: 64px !important;
    height: 78px !important;
  } */

  .login-header {
    display: none;
  }

  #arrow-left {
    left: 20px;
  }
}

@media (max-width: 500px) {
  .card-body {
    width: 100%;
  }

  #arrow-left {
    left: 10px;
  }
}

@media (max-width: 485px) {
  .mobile-width {
    width: 199px !important;
    justify-content: center;
  }

  
}