body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.displayFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.positionMainBox{
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxForBoxes{
    width: 912px;
    height: 591px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.positionGreed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.positionTime{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.positionTasksCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showGreed{
    color: #2A3647;
    font-size: 48px;
}

.showName{
    color: #4589FF;
    font-size: 54px;
    font-weight: 900;
}

.showDate{
    width: 672px;
    height: 191px;
    background-color: #4589FF;
    color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer; 
}

.showDate:hover{
    transform: scale(1.05); 
    background-color: white;
    color: #4589FF;
    border-top-left-radius: 0;
}

.clockCircle{
    width: 80px;
    height: 80px;
    background-image: url("/assets/img/clock.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.showNumber{
    font-size: 58px;
    font-weight: bolder;
    margin-left: 16px;
}

.tasksUrgent{
    margin-top: -40px;
    font-size: 28px;
    font-weight: 100;
}

.showTasksInBoard{
    height: 191px;
    width: 208px;
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer; 
    color: #4589FF;
}

.showTasksInBoard:hover{
    transform: scale(1.1);
    border-top-left-radius: 0;
    background-color: #2756ff;
    color: white;

}

.tasksInBoard{
    width: 204px;
    height: 219px;
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer; 
    color: #4589FF;
}

.tasksInBoard:hover{
    transform: scale(1.1); 
    border-top-left-radius: 0;
    background-color: #2756ff;
    color: white;
}

.whiteLine {
    width: 3px;
    height: 140px;
    background-color: white;
    margin-left: 32px;
}
  
.showDate:hover .whiteLine {
    background-color: #4589FF;
}

.deadlineBox{
    width: auto;
    height: 81px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dateDeadline{
    margin-top: 0;
    padding-bottom: 16px;
    font-size: 34px;
    font-weight: bolder;
}

.showTaskInBoardImg{
    width: 80px;
    height: 80px;
    background-image: url("/assets/img/board.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.showTheNumbers{
    font-size: 58px;
    font-weight: bolder;
    margin-left: 16px;
}

.showTo-doImg{
    width: 80px;
    height: 80px;
    background-image: url("/assets/img/urgent.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.showTaskInProgressImg{
    width: 80px;
    height: 80px;
    background-image: url("/assets/img/inProgress.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.showAwaitingFeedbackImg{
    width: 80px;
    height: 80px;
    background-image: url("/assets/img/awaitingFeedback.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.showTasksDoneImg{
    width: 80px;
    height: 80px;
    background-image: url("/assets/img/done.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.textInBoxes{
    width: 80px;
    margin-top: -40px;
    font-size: 26px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}