<div class="leftWhiteBox">
    <div class="positionCategory">
        <div class="BoxOfCategory" id="aside">
            <div class="positionTaskIcons" id="summary">
                <a href="../html/summary.html" class="category"><img  src="../assets/img/menu_icons.svg">Summary</a>
            </div>
            <div class="positionTaskIcons" id="add-task">
                <a href="../html/add_task.html" class="category"><img src="../assets/img/menu_icons2.svg">Add Task</a>
            </div>
            <div class="positionTaskIcons" id="board">
                <a href="../html/board.html" class="category"><img src="../assets/img/menu_icons1.svg">Board</a>
            </div>
            <div class="positionTaskIcons" id="contacts">
                <a href="../html/contacts.html" class="category"><img src="../assets/img/menu_icons3.svg">Contacts</a>
            </div>
        </div>
    </div>

    <div class="positionFooterBox">
        <div class="footerBox">
            <a class="linksFooter" id="pp" href="../html/privacy.html">Privacy Policy</a>
            <a class="linksFooter" id="ln" href="../html/legal_notice.html">Legal Notice</a>
        </div>
    </div>
</div>