<div class="headerBlue">
    <div>
        <img src="/assets/img/capa1.svg" alt="Icon" class="icon">
    </div>
    <div class="positionRightHeader">
        <p>Kanban Project Managment Tool</p>
        <img src="/assets/img/help.svg" alt="helpImg" class="helpImg" id="helpImg" onclick="loadHelp()">
        <img src="/assets/img/head-663997_640.jpg" alt="profile Img" class="profileImg" id="profileImg" onclick="loadProfile()">
    </div>
</div>

<div class="leftWhiteBox">
    <div class="positionCategory">
        <div class="BoxOfCategory">
            <div class="positionTaskIcons" onclick="loadSummary()">
                <img src="/assets/img/menu_icons.svg">
                <p class="category">Summary</p>
            </div>
            <div class="positionTaskIcons" onclick="loadAddTask()">
                <img src="/assets/img/menu_icons2.svg">
                <p class="category">Add Task</p>
            </div>
            <div class="positionTaskIcons" onclick="loadBoard()">
                <img src="/assets/img/menu_icons1.svg">
                <p class="category">Board</p>
            </div>
            <div class="positionTaskIcons" onclick="loadContacts()">
                <img src="/assets/img/menu_icons3.svg">
                <p class="category">Contacts</p>
            </div>
        </div>
    </div>

    <div class="positionFooterBox">
        <div class="footerBox">
            <p class="linksFooter" onclick="loadPrivacyPolicy()">Privacy Policy</p>
            <p class="linksFooter" onclick="loadLegalNotice()">Legal Notice</p>
            <p class="linksFooter" onclick="loadDatenschutz()">Datenschutz</p>
            <p class="linksFooter" onclick="loadImpressum()">Impressum</p>
        </div>
    </div>
</div>