<div class="leftWhiteBox">
    <div class="positionCategory">
        <div class="BoxOfCategory" id="aside">
            <div class="positionTaskIcons" onclick="loadSummary()">
                <img  src="../assets/img/menu_icons.svg">
                <a  href="../html/summary.html" class="category">Summary</a>
            </div>
            <div class="positionTaskIcons" onclick="loadAddTask()">
                <img src="../assets/img/menu_icons2.svg">
                <a href="../html/add_task.html" class="category">Add Task</a>
            </div>
            <div class="positionTaskIcons" onclick="loadBoard()">
                <img src="../assets/img/menu_icons1.svg">
                <a href="../html/board.html" class="category">Board</a>
            </div>
            <div class="positionTaskIcons" onclick="loadContacts()">
                <img src="../assets/img/menu_icons3.svg">
                <a href="../html/contacts.html" class="category">Contacts</a>
            </div>
        </div>
    </div>

    <div class="positionFooterBox">
        <div class="footerBox">
            <p class="linksFooter" onclick="loadPrivacyPolicy()">Privacy Policy</p>
            <p class="linksFooter" onclick="loadLegalNotice()">Legal Notice</p>
        </div>
    </div>
</div>