<div class="headerBlue">
    <div>
        <img src="../assets/img/capa1.svg" alt="Icon" class="icon">
    </div>
    <div class="positionRightHeader">
        <p onclick="toggleSettings()" id="header-title">Kanban Project Managment Tool</p>
        <img src="../assets/img/help.svg" alt="helpImg" class="helpImg" id="helpImg" onclick="loadHelp()">
        <div id="profile-div" class="profile-div" onclick="toggleSettings()"><div class="initials-div" id="initials-div"><span id="profile-initials"></span></div></div>
    </div>
    <div class="profile-settings d-none" id="profile-settings">
        <a href="../html/legal_notice.html">Legal Notice</a>
        <a href="../html/privacy.html">Privacy Policy</a>
        <button onclick="logout()">Log out</button>
    </div>
</div>
