  <div class="mobile_template">
    <div class="mobile-header">
      <div>
        <img src="../assets/img/capa1.svg" alt="Icon" class="icon" />
      </div>
      <div>
        <div id="profile-div" class="profile-div" onclick="toggleSettingsMobile()">
          <div class="initials-div" id="initials-div-mobile">
            <span id="profile-initials-mobile"></span>
          </div>
        </div>
      </div>
      <div class="profile-settings d-none" id="profile-settings-mobile">
        <a href="../html/help.html">Help</a>
        <a href="../html/legal_notice.html">Legal Notice</a>
        <a href="../html/privacy.html">Privacy Policy</a>
        <button onclick="logout()">Log out</button>
      </div>
    </div>

    <div class="mobile-navbar" id="mobile-navbar">
        <div class="link-box" id="summary-mobile">
          <a href="../html/summary.html" class="category"
            ><img src="../assets/img/menu_icons.svg" />Summary</a
          >
        </div>
        <div class="link-box" id="board-mobile">
          <a href="../html/board.html" class="category"
            ><img src="../assets/img/menu_icons1.svg" />Board</a
          >
        </div>
        <div class="link-box" id="add-task-mobile">
          <a href="../html/add_task.html" class="category"
            ><img src="../assets/img/menu_icons2.svg" />Add Task</a
          >
        </div>
        <div class="link-box" id="contacts-mobile">
          <a href="../html/contacts.html" class="category"
            ><img src="../assets/img/menu_icons3.svg" />Contacts</a
          >
        </div>
    </div>
  </div>
